* {
    font-family: "Montserrat", sans-serif;
}

header {
    max-width: 100vw;
    text-align: center;
    align-items: center;
    justify-content: center;

    margin-bottom: 30px;
}

input[type="button"] {
    background: grey;
}

/* #main-section */

#main-section {
    display: flex;
    max-width: 100vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: ;
} 

#main-section input {
    border: 2px solid gray; 
    background: none;
    padding: 8px 12px;
    outline: 0;
}

.form-container {
    display: flex;
    flex-direction: column;
    padding: 2% 5% 2% 5%;
    border: 1px dotted gray; 
}

.title {
    text-align: left;
    color: black;
    padding-bottom: 10px;
}

/* #filter-section */

#filter-section {
    display: flex;
    max-width: 100vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

#filter-section input {
    border: 2px solid gray; 
    background: none;
    padding: 8px 12px;
    outline: 0;
}

.filter-container {
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.filter-container > * {
    margin: 10px;
    color: grey;
}

#task-search {
    width: 300px;
}

/* tasks-section */

#tasks-section {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#tasks-section input {
    border: 1px solid rgb(128, 128, 128); 
    background: none;
    /* padding: 8px 12px; */
    outline: 0;
}

/* table css */
table {
    table-layout: fixed;
    width: 750px;
}

th {
    line-height: 40px;
    /* width: 1000px; */
    background: rgb(184, 184, 184);
    text-align: center;
    font-weight: lighter;
    font-size: small; 
    color: rgb(60, 60, 60);
  }
  
td {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #808080;
    font-weight: lighter;
    font-size: small; 
}

/* alternate row bg color */
tr:nth-child(even) td {
    background: #f8f6ff;
}

/* strikethrough mark */
.incomplete {
    text-decoration: none;
}

.complete {
    text-decoration: line-through;
}